/* Font */
@font-face {
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url(../fonts/Montserrat.woff2);
  }

/* Variables */ 
:root {
    /* Color */
    --color-white:           #FFFFFF;
    --color-white-text:      #F4F2FA;
    --color-blue:            #100FA8;
    --color-black:           #000033;
    --color-beige:           #F4F2FA;
    --color-block:           #CCCCD6;
    --color-gray:           #4D4D70;



     /* Font */
    --font-montserrat: 'Montserrat', sans-serif;

    /* Container */
    --container-width: 1246px;

}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

/* Tag styles */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-montserrat);
    line-height: 1.3;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-black);
}

header{
    font-family: var(--font-montserrat);
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

input {
    font-family: var(--font-montserrat);
}

input::placeholder {
    font-family: var(--font-montserrat);
}
